{% extends 'base.html' %}
{% load women_tags %}

{% block breadcrumbs %}
<div style="padding-left:10px">
    {% with post.tags.all as tags %}
{% if tags %}
<p>Теги:</p>
<ul class="tags-list">
    {% for t in tags %}
    <li><a href="{{t.get_absolute_url}}">{{t.tag}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>
{% endblock %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}

{% get_edit_buttons as buttons %}

<div style="padding:10px">
    <h1 style="font-size:40px">{{post.title}}</h1>
    {% for b in buttons %}
        <a style="font-size:14px" href="{% url b.url post.pk %}">{{b.name}}</a>
        {% if not forloop.last %}|{% else %}{% endif %}
    {% endfor %}

    {{post.content|linebreaks}}

    {% if post.photo and post.photo.file %}
        <p><img src="{{post.photo.url}}" alt="{{post.title}}"></p>
    {% endif %}
</div>

{% endblock %}
