{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link type="text/css" href="{% static 'women/css/base.css' %}" rel="stylesheet">
</head>
<body>
    <ul>
        <li><a href="{% url 'home' %}">Главная страница</a></li>
        {% for elem in menu %}
        <li>
            <a href="{% url elem.url_name %}">{{ elem.title }}</a>
        </li>
        {% endfor %}
    </ul>

    {% block content %}
    {% endblock %}

</body>
</html>